<div class="container "> 
    
    <p style="font-size:45px; font-family: helvetica cursive;">Sign in:</p>

    
        <div class="col-md-7 col-md-offset-4">
                <section >
                    <%= form_with url: sessions_path do |form|%>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Email: </p>
                                <%=form.text_field :email, class: "form-control form-control-lg", placeholder: "youremail@gmail.com"%>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Password: </p>
                                <%=form.password_field :password, class: "form-control form-control-lg"%>
                            </div>
                        </div>

                         <div class="row">
                            <div class="form-group col-md-6" style="font-size: 18px;">
                                <%=form.submit "Sign In", class: "btn btn-primary btn-lg"%>
                                <%= link_to "Home",root_path %>
                            </div>
                        </div>

                    <%end%>
                </section>
           </div> 
    
</div>