<div class="container text-center">
    <p class="col-md-7 col-md-offset-2" style="font-size:45px; font-family: helvetica cursive;">  Add Item!</p>
<div class="col-md-7 col-md-offset-4">
        <section >
            <%= form_with url: create_menus_path do |form| %>
            <div class="row">
                <div class="form-group col-lg-6">
                    <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Name: </p>
                    <%=form.text_field :name, class: "form-control form-control-lg"%>
                 </div>   
            </div>
            
            <div class="row">
                <div class="form-group col-lg-6">
                    <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Description: </p>
                    <%=form.text_field :description, class: "form-control form-control-lg"%>
                 </div>   
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Price: </p>
                    <%=form.number_field :price, class:"form-control form-control-lg"%>
                 </div>   
            </div>
            
            <div class="row" style="font-size:22px; font-family: helvetica cursive;">
                    <div class="form-group col-md-6">
                        <%=form.submit "ADD!", class: "btn btn-primary btn-lg"%>
                    </div>
            </div>

            <%end%>
        </section>
</div>
</div>