
  <div class="container-head text-center">  
    <div style="font-size:45px; font-family: helvetica;"><p>Welcome to Cafe Dream!</p></div>
    <div style="font-size: 30px; font-family: cursive;"><p>Delicious cakes for special occasions!</p></div><br>
  </div> 
   <div class="container-image">
   <%= image_tag "cupcake.gif", :size => "500x300", :align => "center"%>
   <%= image_tag "pastry.gif", :size => "500x300", :align => "center"%>
   <%= image_tag "cup.gif", :size => "500x300", :align => "center"%>
   
   </div>
    <!--<div class="card-deck">  -->  
        <div class="container-menu"> 
                    <% @menus.each do |menu|%>
                
                     <div class="row">
                    <div class="card col-md-5" >
                    <div class="card-body border-dark mb-3" >
                    
                            <p class="card-title" style="font-size:25px; font-family: helvetica;"><%= menu.name %>: </p>
                            <p class="card-text" style="font-size:20px; font-family: helvetica;"><%= menu.description %> </p>
                            <p class="card-text" style="font-size:20px; font-family: helvetica;"><%= number_to_currency menu.price, unit: "Rs. " %></p>
                            <p class="card-text"><%= form_tag order_items_path do %>
                                <%= hidden_field_tag :menu_id, menu.id %>
                                <%= number_field_tag :quantity, 1%></p>
                            <p class="card-text" style="font-size: 15px;"> <%= submit_tag "Add to Cart" ,class: "btn btn-primary btn-lg"%>
                                <% if @current_user.try(:admin?) %>
                                    <%= link_to "Delete",destroy_menus_path(@menus), method: "delete"%>
                                <%end %></p>
                            <% end %>
                            <br>
                    </div>
                    </div>
                    </div>
                    <%end%>
                
            </div>
            <div  style="font-size:20px; font-family: helvetica; text-align:center;">
                <% if @current_user.try(:admin?) %>
                            <%= link_to "Add new item", "/addmenu"%>
                <%end%>   
            </div>
        
      <!--</div> -->
</div>