<div class="container text-center">
    
        <p class="col-md-7 col-md-offset-2" style="font-size:45px; font-family: helvetica cursive;">Sign up!</p>

    <div class="col-md-7 col-md-offset-4">

            <section>
                <%= form_with url: users_path do |form| %>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Name: </p>
                        <%=form.text_field :name, class: "form-control form-control-lg", placeholder: "John Davis"%>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-lg-6">
                        <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Email: </p>
                        <%=form.email_field :email, class: "form-control form-control-lg", placeholder: "johndavis@gmail.com"%>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Phone number: </p>
                        <%=form.telephone_field :phone, class: "form-control form-control-lg"%>
                    </div> 
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <p class="Form-label" style="font-size:22px; font-family: helvetica cursive;">Password: </p>
                        <%=form.password_field :password, class: "form-control form-control-lg"%>
                    </div>   
                </div>
                <div class="row" style="font-size:22px; font-family: helvetica cursive;">
                    <div class="form-group col-md-6">
                    <%=form.submit "Sign up!", class: "btn btn-primary btn-lg"%>
                    <%= link_to "Home",root_path %>
                    </div>
                </div>

                <%end%>
            </section>
        </div>
</div>