
<div class="container-details"  style="font-size:35px; font-family: helvetica cursive;">
<%= image_tag "profile.gif", :size => "400x270", :align => "center"%>
        <p><%= current_user.name%></p>
        <p><%= current_user.email%></p>
        <p><%= current_user.phone%></p>
        <%= link_to 'Home',menus_path %> </div>
</div>

