 <div class="container text-center">
  <div style="font-size:40px; font-family: helvetica cursive;"><p>Your Cart</p></div>
</div>
<div style="font-size:20px; font-family: helvetica cursive;">
      <table class="table table-borderless">
      <thead>
        <tr>
          
          <td cope="col">Menu</td>
          <td cope="col">Price</td>
          <td scope="col">Quantity</td>
         
        </tr>
      </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td scope="row"><%= item.menu.name %></td>
          <td scope="row"><%= number_to_currency item.price, unit: "Rs. "  %></td>
          <td scope="row"><%= item.quantity %></td>
          <td scope="row">
            <%= form_for item, method: :delete do |f| %>
              <%= f.submit "Remove", class:"btn btn-primary btn-lg"%>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tfoot>
      </tfoot>
      <tr scope="row"> <td colspan="3" align="right">
      Sub Total: <%= number_to_currency current_cart.subtotal, unit: "Rs. " %><br>
        <%= link_to 'Checkout', checkout_path %>
      </td>
      </tr>
    </tbody>
    
  </table>
  </div>

  
