<!DOCTYPE html>
<html>
  <head>
    <title>Cafe Dream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  
  <div class="container-main text-center">
    <div style="font-size:22px; font-family: helvetica cursive;">
    
      <% if @current_user %>
          
          <p> Welcome <%= @current_user.name %> ! <br>
            
            <%= link_to "Home",menus_path %> | 
            <%= link_to "Profile", user_path(current_user)%> |
            Cart (<%= link_to pluralize(current_cart.items_count,'item'), cart_path %> ) |  
            <%= link_to "Sign-out", destroy_session_path, method: "delete" %> 
          </p>
      </div>    
        <hr>
        <%end %>

      
      </div>

      <% if flash[:error]%>
        <p class="Flash-error">
          <%= flash[:error]%>
        </p>
      <% end %>

      <%= render "layouts/alerts"  %>
      
      <%= yield %>
</div>
  </body>
</html>
