<!DOCTYPE html>
<html>
  <head>
    <title>CafeDream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container text-center">
  
      <% if @current_user %>
          
          <p> Welcome <%= @current_user.name %> ! <br>
            <%= link_to "Sign-out", destroy_session_path, method: "delete" %> |
            <%= link_to "Profile", user_path(current_user)%>
          </p>
          <p>
            <%= link_to "Home",menus_path %> |
            Cart (<%= link_to pluralize(current_cart.items_count,'item'), cart_path %> )
          </p>
        <hr>
        <%end %>

      
      </div>

      <% if flash[:error]%>
        <p class="Flash-error">
          <%= flash[:error]%>
        </p>
      <% end %>

      <%= render "layouts/alerts"  %>
      
      <%= yield %>
</div>
  </body>
</html>
